<div class="row row-cols-1 row-cols-xs-2 row-cols-sm-4 row-cols-lg-4 g-3">
    <div class="col">
        <div class="card h-100 shadow-sm"> <img src="https://cf.shopee.co.id/file/818d432f1d0182fc1afcfbb738d34c68" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">NIKE</span> <span class="float-end price-hp">US$55,90</span> </div>
                <h6 class="card-title"> sepatu yang sangat tren, dan sering di pakai kalangan remaja, pria maupun wanita.</h6>
                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check Other Offers</a> </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm"> <img src="https://cf.shopee.co.id/file/493c4261d857b4b0d4a207f1eac87af3" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">GUCCI</span> <span class="float-end price-hp">US$45,60</span> </div>
                <h6  class="card-title">GUCCI sepatu yang sangat tren, dan sering di pakai kalangan remaja, pria maupun wanita.</h6 >
                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check Other Offers</a> </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm"> <img src="https://cf.shopee.co.id/file/9b5ea626e58e58d8f4c5549b5e8a33ce" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">ADIDAS</span> <span class="float-end price-hp">US$31,90€</span> </div>
                <h6  class="card-title">ADIDAS sepatu yang sangat tren, dan sering di pakai kalangan remaja, pria maupun wanita.</h6 >
                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check Other Offers</a> </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm"> <img src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/medium//109/MTA-16969771/reebok_sepatu_lari_pria_reebok_zig_kinetica_horizon_white_original_full01_0ec761af.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">REBOOK</span> <span class="float-end price-hp">US$18,60</span> </div>
                <h6  class="card-title">REBOOK sepatu yang sangat tren, dan sering di pakai kalangan remaja, pria maupun wanita.</h6 >
                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check Other Offers</a> </div>
            </div>
        </div>
    </div>
    </div>